/**************
Qui modifico tutto il body del mio html
**************/

body{
  background-color:#ececec;
}


/**************
Qui vado a definire il contenirore del mio contenuto
**************/

.maincontainer{
  background-color: #effdff;
  color: inherit;
}



/**************
intestazione
**************/

.jumbotron{ /*se volessi modificare lo sfondo della parte alta della pagina, dovrei scrivere qui*/
background-image:url("https://www.lostudiodelcolore.com/immagini-prodotti/15112016RF3009-1.JPG")

}

.intestazione h1{
  font-size:30pt;
  font-weight:bold;
}

h2 {
  font-family:Copperplate Gothic Bold
}
.intestazione h3{
  font-size:20pt;
  font-style:italic;
}

.intestazione h4{
  font-size:30pt;
}

.intestazione .cta{
  color:#ffffff;
  padding-bottom:10pt;
}

/****************
sezione educazione
**********/
.col-sm-8 {font-family: Constantia}
.col-sm-4 {font-family: Constantia;}
.col-sm-6 {font-family:Constantia }

.education{
  list-style-type: none;
}

.nomeed{
  font-weight: bold;
}

.doveed{
  font-style: italic;
}
