  h1{color:#1eb22a; font-family: Arial}
  body{background-color: pink;
  background-image: url("../images/background-image.jpg");
background-repeat:no-repeat;
background-size: cover;}

  #titolo1{color:red}
  .gruppo{font-size: 23px}
